<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Dependencies -->
      <package
            uri="http://bsk.dependencies/1.0"
            class="dependencies.DependenciesPackage"
            genModel="model/Dependencies.genmodel"/>
   </extension>

</plugin>
